.cart-container-ph {
  min-height: 60rem;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item-ph {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cart-item-ph:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cart-item-ph img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.item-details-ph {
  flex: 1;
}

.quantity-control-ph {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control-ph button {
  border: none;
  background-color: #efefef;
  color: #333;
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.quantity-control-ph button:hover {
  background-color: #ddd;
}

.quantity-control-ph input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.order-summary-ph {
  height: fit-content;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-summary-ph h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.summary-item-ph {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.summary-item-ph p {
  font-size: 16px;
  color: #555;
}

.checkout-button-ph, .secure-checkout-button-ph {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.checkout-button-ph:hover, .secure-checkout-button-ph:hover {
  background-color: #444;
}

.notification-ph {
  height: fit-content;
  background-color: #e1f7e3;
  color: #4caf50;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .cart-container-ph {
    flex-direction: column;
    align-items: center;
  }

  .order-summary-ph {
    width: 100%;
    margin-top: 20px;
  }

  .cart-item-ph {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .cart-item-ph img {
    width: 100px;
    height: 100px;
  }

  .item-details-ph {
    width: 100%;
  }

  .quantity-control-ph {
    width: 100%;
    justify-content: flex-start;
  }

  .quantity-control-ph input {
    width: 60px;
  }

  .checkout-button-ph, .secure-checkout-button-ph {
    width: 100%;
    padding: 12px;
  }
}
