.nav-ph{
    height:7rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    
}
.nav-left-ph{
  display: flex;

}
.htext-ph{
  color: aliceblue;
}
.image-nav-ph{
    height: 5rem;
    width:5rem;
}
.nav-center-ph{
    display: flex;
    justify-content: space-around;
}
.nav-link-ph{
    list-style: none; 
    margin-right: 20px; 
    margin-top: 18px;
  }
  
  .nav-link-ph a {
    text-decoration: none; 
    color: white; 
    font-weight: lighter; 
    font-size: 2rem; 
    padding: 5px 10px;
    
  }
  
  .nav-link-ph a:hover {
    color: #ccc; 
  }
.cart-img-ph{
    width:4rem;
    height:4rem;
    margin-top:4px;
    margin-right: 2rem;
}

.cart-container1 {
  position: relative;
  
}

.count-ph {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: red;
  color:white;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
